h1 {
  text-align:center;
  font: bold 55px verdana;
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  margin: auto;    
  padding: 30px;
}

h2 {
  font: bold 35px;
  font-family: Arial;
  background-color: skyblue;
}

.exampleborder {
  border: 8px solid #dddddd;
  padding: 3px;
  font-family: Comic Sans MS;
}

.examplestyle {
  font-size: 25px;
}

.tablestyle {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.tablestyle th, td {
  border: 2px solid gray;
  padding: 8px;
} 

.tablestyle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: black;
}

.tablestyle tr:nth-child(even) {
  background-color: #dddddd;
}

hr { 
  height: 4px;
  color: black;
  background-color: black;
}


a {
  color: blue
}

a:visited {
  color:purple;
}

a:hover {
  color: red;
}
