.titlestyle {
  text-align:center;
  font: bold 55px verdana;
}

.headingstyle {
  font: bold 25px;
  font-family: Comic Sans MS;
  background-color: pink;
}

.tablestyle {
  text-align: center;
  font-family:Times New Roman;
  border-collapse: condense
  width: 500%
}

.tdthstyle {
  border: 2px solid #dddddd;
  text-align:center;
  padding:3px;
}
