.content {
   background-color: #F5F5F5;
}

.content p {
  font-family:"Arial", sans-serif;
  color:black;
}

p {
  font-family: "Arial";
}

img {
  width:100%;
}

ul {
  font-family: Arial;
  font-size: 16px;
}

.centerimage {
    display: block;
    margin: auto;
    width: 75%;
}

